<hr class="namecomp">
<p>App component</p>
 <!-- String interpolation -->
<h1>{{test}}</h1>
<h2>{{book.title}}</h2>
<h2>{{book.author}}</h2>
<h2>{{book.isbnNumber}}</h2>


 <!-- Property Binding: using property binding on the [src] attribute and the imageSource property from the class file-->
 <img [src]="imageSource" alt="">
<button [disabled]="isButtonDisabled">Click Me</button>
<input type="text" [value]="inputValue">

 <!-- @Input Using Property Binding on Custom Component - Pass data from Parent Component to Child Component
Step 1: generate a new component
Step 2: Go to cardcomponent.html and create a card
Step 3: we will use @input in the cardcomponent.ts and interpolation in the card html component - A way a component can get data from its parent component
Step 4: then inside the parent component which is app component.html we can use it - <app-card></app-card>
Step 5: set the title and body from the parent component which is app via property binding
-->
<app-card [title]="'This is the @input title'" [body]="'This is the @input body'" age =5></app-card>
<app-card [age] ="5"></app-card>


<!-- Event Binding: user clicks a button or presses a key on the keyboard-->
<button (click)="onButtonClick()" (mouseover)="onMouseOver()">Event Binding Button</button>


<!-- Creating a template reference  =  #input -->
<input #input type="text">
<button (click)="onClick(input.value)">Submit input Value</button>

<!-- Passing data from child component to parent-->
<!--How to Emit events @Output from custom components (name compoenent)  and liten to them from the parent component -create a name component  -->
<app-name (nameSubmit)="onNameSubmit($event)"></app-name>

<!-- DOM $events -->
<input type="text" (change)="onInputChange($event)">

<hr class="namecomp">
<router-outlet></router-outlet>
